<mat-table *ngIf="transactions" [dataSource]="transactions">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="name-header-cell"> Nr </mat-header-cell>
    <mat-cell *matCellDef="let element" class="id-cell">{{element.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="name-header-cell"> Description </mat-header-cell>
    <mat-cell *matCellDef="let element" class="description-cell">{{element.description}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="when">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="name-header-cell"> When </mat-header-cell>
    <mat-cell *matCellDef="let element" class="description-cell">{{element.when | date}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></mat-row>
</mat-table>
