<app-loading *ngIf="loading"></app-loading>
<ng-template [ngIf]="!loading">
  <mat-card *ngFor="let item of projects" class="project-card">
    <mat-card-header>
      <mat-card-title><a [routerLink]="['/project', item.id]"><mat-icon>card_travel</mat-icon> {{item.description}} <mat-icon>info</mat-icon></a></mat-card-title>
      <mat-card-subtitle>{{item.createdWhen | date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row">
        <app-project-transactions fxFlex="60%" [transactions]="item.transactions"></app-project-transactions>
        <app-project-members fxFlex="40%" [members]="item.members"></app-project-members>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onNewTransactionClicked(item.id)"><mat-icon>add_shopping_cart</mat-icon></button>
      <button mat-raised-button (click)="onDeleteProject(item.id)"><mat-icon>delete_forever</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</ng-template>
