<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>FACIT</h1>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon [matMenuTriggerFor]="auth">menu</mat-icon>
    </button>
    <mat-menu #auth="matMenu">
      <a mat-menu-item [routerLink]="'/home'">
        <mat-icon>home</mat-icon>
        <span>Start</span>
      </a>
      <a mat-menu-item [routerLink]="'/transactions'">
        <mat-icon>local_grocery_store</mat-icon>
        <span>Händelser</span>
      </a>
      <a mat-menu-item [routerLink]="'/projects'">
        <mat-icon>card_travel</mat-icon>
        <span>Projekt</span>
      </a>
      <a mat-menu-item [routerLink]="'/people'">
        <mat-icon>face</mat-icon>
        <span>Mina kompisar</span>
      </a>
      <button mat-menu-item (click)="onClickedLogout()" *ngIf="isLoggedIn">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logga ut</span>
      </button>
      <button mat-menu-item [routerLink]="'/login'" *ngIf="!isLoggedIn">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logga in</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
