@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.facit-content-wrapper-old {
  height: 100vh;
  width:600px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  align-items: center;
}

.facit-content-wrapper {
  height: 100vh;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding-top: 8px;
  align-items: center;
}

svg#summer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index:-10;
}

